@import "tailwindcss" source("../../../");

.settings_page_plugin-base {
    #wpcontent {
        padding: 0;
    }

    #wpbody-content {
        padding: 0;
    }

    .wrap {
        padding: 0;
        margin: 0;
    }

    #wpfooter {}
}